body{margin:0;}

.card{
  float: left;
  width: 20%;
  height: 235px;
  border: thin solid black;
  margin-left: 60px;
  margin-top: 20px;
}



#foto{
  height: 100px;
  width: 100px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}
